Tal.Insurance.Portal.Dal/bin/
Tal.Insurance.Portal.Dal/obj/Tal.Insurance.Portal.Repository.csproj.nuget.cache
Tal.Insurance.Portal.Modal/bin/Debug/netstandard2.0/Tal.Insurance.Portal.Modal.deps.json
Tal.Insurance.Portal.Modal/bin/Debug/netstandard2.0/Tal.Insurance.Portal.Modal.pdb
Tal.Insurance.Portal.Modal/bin/Debug/netstandard2.0/Tal.Insurance.Portal.Modal.dll
Tal.Insurance.Portal.Service/bin/Debug/netstandard2.0/Tal.Insurance.Portal.Interface.pdb
Tal.Insurance.Portal.Service/bin/Debug/netstandard2.0/Tal.Insurance.Portal.Interface.dll
Tal.Insurance.Portal.Service/bin/Debug/netstandard2.0/Tal.Insurance.Portal.Modal.pdb
Tal.Insurance.Portal.Service/bin/Debug/netstandard2.0/Tal.Insurance.Portal.Service.deps.json
Tal.Insurance.Portal.Service/bin/Debug/netstandard2.0/Tal.Insurance.Portal.Modal.dll
Tal.Insurance.Portal.Test/bin/Debug/netcoreapp3.0/Microsoft.TestPlatform.PlatformAbstractions.dll
Tal.Insurance.Portal.Test/bin/
Tal.Insurance.Portal.Test/obj/
Tal.Insurance.Portal.Service/obj/
Tal.Insurance.Portal.Modal/obj/
Tal.Insurance.Portal.Interface/obj/Debug/netstandard2.0/Tal.Insurance.Portal.Interface.dll
Tal.Insurance.Portal.Interface/obj/
Tal.Insurance.Portal.Interface/bin/
Tal.Insurance.Portal.Dal/obj/
Tal.Insurance.Portal.Service/bin/
.vs/
