<div class="dynamic-form">
  <form>
    <div class="form-group">
      <label for="first-name">First Name</label>
      <input type="text" class="form-control" id="first-name" required>
    </div>
    <div class="form-group">
      <label for="last-name">Last Name</label>
      <input type="text" class="form-control" id="last-name" required>
    </div>
    <div class="form-group">
      <label for="age">Age</label>
      <input type="number" class="form-control" id="age" required>
    </div>
    <div class="form-group">
      <label for="dob">Date Of Birth</label>
      <input type="date" class="form-control" id="dob" required>
    </div>
    <div class="form-group">
      <label for="occupation">Occupation</label>
      <input type="text" class="form-control" id="occupation" required>
    </div>
    <div class="form-group">
      <label for="sum-insured">Sum Insured</label>
      <input type="text" class="form-control" id="sum-insured" required>
    </div>
    <button type="submit" class="btn btn-lg btn-primary">Submit</button>
  </form>
</div>
